@import '../../../variables.scss';

.taskList {
  width: 33%;
  border: 2px solid $light-gray;
  border-radius: 10px;
  padding: 1rem;
  user-select: none;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    // list name heading
    h2 {
      margin: 0;
      font-size: 20px;
    }

    button.add-task {
      background: transparent;
      color: $black;

      &:hover {
        background: $light-gray;
        box-shadow: none;
      }
    }
  }

  .list-main {
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: .5rem;

    .task-input-field {
      input {
        width: 100%;
      }

      .button-group {
        margin-top: .5rem;
      }
    }

    .task-count {
      text-align: right;
    }

    .task-list {
      height: 95%;
    }
  }
}