.chatContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
#chatButton {
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
}
.chatWindow {
  width: 400px;
  height: 600px;
  padding: 10px;
  background-color: white;
  overflow-y: auto;
}
.recentChatters {
  height: 120px;
  background-color: beige;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.recentChatters p {
  margin: 1em;
  word-wrap: break-word;
}

.recentChatters:hover {
  box-shadow: 0.1em 0.1em 0.3em 0.4em #cecece;
  cursor: pointer;
}
