@import '../../../variables.scss';

.create-project-modal {
  min-width: 50%;

  .error-msg {
    width: 100%;
  }

  .modal-content {
    padding: 3rem;

    form {
      margin: 1rem 0;

      .input-field {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: 600;
        }

        input,
        textarea {
          letter-spacing: .3px;
        }
      }
    }
  }
}