@import '../../../variables.scss';

// The task item displayed in the list
.task-item {
  background: #FFF;
  margin: 1rem 0;
  padding: .5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    transform: scale(1.02);
    border-color: $purple;
    transition: .5s ease-in-out;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .25rem;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .due-date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  img.assignee {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

// The modal for setting the priority of the task
.priority-modal {
  position: absolute;
  margin: .5rem 0;

  .modal-content {
    box-shadow: 0 0 10px 3px $light-gray;
  }

  .modal-header {
    border-bottom: none;

    h4 {
      margin: 0;
    }
  }

  .modal-body {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;

    .btn-group {
      gap: 1rem;
    }

    .btn {
      background: $light-gray;
      border: none;
      color: $black;
      transition: .3s;

      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }

    .btn-check:checked+.btn {
      color: $white;
    }
  }
}

// Backdrop for sub modals of task item
.task-subModal-backdrop {
  opacity: 0 !important;
}

// The modal for setting the due date of the task
.dueDate-modal {
  position: absolute;
  margin: .5rem 0;

  .modal-content {
    box-shadow: 0 0 10px 3px $light-gray;
  }

  .modal-header {
    border-bottom: none;

    h4 {
      margin: 0;
    }
  }

  .modal-body {
    padding: 1rem;

    form {
      margin-top: 0;
    }
  }
}

// The modal for the details of the task
.task-item-modal {
  width: 50%;
  max-width: none;
  margin-top: 5rem;
  margin-bottom: 3rem;

  h4 {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .list-name {
    font-size: 14px;
    color: $dark-gray;
    border: 1px solid;
    border-radius: 15px;
    padding: .1rem .5rem;
    user-select: none;
    width: fit-content;
    height: fit-content;
  }

  .priority {
    .task-priority {
      font-size: 14px;
      font-weight: 700;
      border: 1px solid;
      border-radius: 10px;
      padding: .25rem .5rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: .5rem;
      cursor: pointer;
      line-height: 1;
      width: fit-content;
    }

    button.set-priority {
      font-size: 14px;
      font-weight: 600;
      border: 1px solid $dark-gray;
      padding: .25rem .5rem;

      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }
  }

  .header {
    align-items: flex-start;
    position: relative;
    margin-top: 0;
    background: $white;

    h3 {
      margin: 0;
      font-size: 22px;
    }

    .sub-header {
      display: flex;
      gap: .5rem;
    }

    .button-group {
      flex-direction: column;
      gap: .5rem;
      position: absolute;
      right: -50px;
      top: 0;

      button {
        background: $white;

        &:hover {
          box-shadow: 0 0 5px 2px $light-gray;
        }
      }
    }

    button.delete-btn {
      color: $red;
    }
  }

  // Task-item-modal body
  .modal-body {
    .description {
      margin-bottom: 1rem;

      form {
        margin-top: 0;
      }

      textarea {
        flex-grow: 1;
        height: 100px;
      }

      p {
        cursor: pointer;
        flex-grow: 1;
        font-size: 14px;
        white-space: pre-wrap;
        padding: .25rem .5rem;
        border-radius: 5px;
        transition: .3s;
        background: $light-gray;

        &:hover {
          background: $dark-gray;
          color: $white;
        }
      }
    }

    .check-due-date {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: 1rem;
      font-size: 15px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }

      p {
        cursor: pointer;
        padding: .25rem;
        border-radius: 5px;

        &:hover {
          background: $light-gray;
        }
      }

      button.set-due-date {
        font-size: 14px;
        font-weight: 600;
        border: 1px solid $dark-gray;
        padding: .25rem .5rem;

        &:hover {
          background: $dark-gray;
          color: $white;
        }
      }
    }

    .member,
    .file {
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .task-members {
      .members-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .5rem;

        h4 {
          margin: 0;
        }

        button {
          background: $light-gray;

          &:hover {
            background: $dark-gray;
            color: $white;
          }
        }
      }

      .member-list {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        li {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .task-members,
    .attachments {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    background: $white;

    button.btn-view-more-comments {
      margin: .5rem 0;
      color: $dark-gray;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    .comments {
      width: 100%;

      .comment {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .25rem;
        font-size: 14px;

        .comment-details {
          flex-grow: 1;
          border: 1px solid $light-gray;
          padding: .5rem;
          border-radius: 10px;
          margin: 0;
          background: #FFF;

          .comment-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .comment-name {
              font-weight: 600;
            }

            .comment-time {
              font-size: 12px;
              color: $dark-gray;
              font-style: italic;
              margin-left: .5rem;
            }

            .comment-isEdited {
              font-size: 12px;
              color: $dark-gray;
              margin-left: .5rem;
            }

            .button-group {
              gap: .1rem;
            }
          }

          .comment-content {
            word-break: break-word;
            white-space: pre-wrap;
          }
        }
      }

      .add-comment {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-top: 1rem;

        textarea {
          flex-grow: 1;
          height: 70px;
        }

        button {
          background-color: $purple;
          color: $white;
          border-radius: 5px;
        }
      }
    }
  }
}

// The modal for setting the assignee of the task
.assign-members-modal {
  width: 400px;

  .modal-content {
    box-shadow: 0 0 5px 0 $dark-gray;
  }

  .modal-title {
    font-size: 18px;
  }

  .search-bar {
    position: relative;

    .search-icon {
      position: absolute;
      top: 50%;
      left: .5rem;
      transform: translateY(-50%);
      color: $purple;
    }

    input {
      width: 100%;
      border-radius: 10px;
      padding: .5rem .5rem .5rem 2rem;
    }
  }

  .search-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    li.no-member-found {
      font-size: 14px;
      font-weight: 500;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: .25rem .5rem;
    }

    .member {
      display: flex;
      gap: 1rem;
      align-items: center;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: .25rem .5rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      .member-info {
        flex-grow: 1;

        p:nth-child(2) {
          color: rgba($color: $black, $alpha: 0.5)
        }
      }

      p {
        margin: 0;
      }
    }
  }
}