@import '../../../variables.scss';

.task-item {
  background: #FFF;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 3px $light-gray;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .due-date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  img.assignee {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.priority-modal-backdrop {
  opacity: 0 !important;
}

.priority-modal {
  position: absolute;
  margin: .5rem 0;

  .modal-content {
    box-shadow: 0 0 10px 3px $light-gray;
  }

  .modal-header {
    border-bottom: none;

    h4 {
      margin: 0;
    }
  }

  .modal-body {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;

    .btn-group {
      gap: 1rem;
    }

    .btn {
      background: $light-gray;
      border: none;
      color: $black;
      transition: .3s;

      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }

    .btn-check:checked+.btn {
      color: $white;
    }
  }
}

.task-item-modal {
  width: 80%;
  max-width: 80%;
  margin-top: 5rem;
  margin-bottom: 1rem;

  h4 {
    font-size: 20px;
  }

  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .list-name {
    font-size: 14px;
    color: $dark-gray;
    border: 1px solid;
    border-radius: 15px;
    padding: .1rem .5rem;
    user-select: none;
  }

  .priority {
    .task-priority {
      font-size: 15px;
      font-weight: 700;
      border: 1px solid;
      border-radius: 10px;
      padding: .25rem .5rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    button.set-priority {
      font-size: 15px;
      font-weight: 700;
      border: 1px solid transparent;

      &:hover {
        box-shadow: none;
      }
    }
  }


  .header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .task-title {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: .5rem;

      h3 {
        margin: 0;
      }
    }

    button.delete-btn {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: $red;
    }

    button.move-btn {
      position: absolute;
      right: 45px;
      bottom: 5px;
    }

    button.close-btn {
      position: absolute;
      right: -50px;
      top: 0;
      background-color: $white;
      border: none;
      border-radius: 5px;
    }
  }

  .body {
    div {
      margin-bottom: 1rem;
    }

    .check-due-date {
      display: flex;
      align-items: center;
      gap: .5rem;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
    }

    .member,
    .file {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-top: 1rem;

    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .view-more {
      cursor: pointer;
      margin: .5rem 0;
      color: $dark-gray;
      font-weight: 500;
    }

    .comments {
      border-top: 3px solid $dark-gray;
      padding-top: 1rem;

      .comment {
        display: flex;
        align-items: center;
        gap: .5rem;

        .comment-time {
          font-size: 14px;
          color: $dark-gray;
          font-style: italic;
          margin-left: .5rem;
        }

        .comment-details {
          flex-grow: 1;
          border: 1px solid $light-gray;
          padding: .5rem;
          border-radius: 10px;
          margin: 0;
        }
      }

      .add-comment {
        display: flex;
        align-items: center;
        gap: .5rem;

        textarea {
          flex-grow: 1;
          // padding: .5rem;
          // border: 1px solid $light-gray;
          // border-radius: 10px;
        }

        button {
          background-color: $blue;
          color: $white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}