@import "../../../variables.scss";

// The task item displayed in the list
.task-item {
  background: #FFF;
  margin: .5rem 0;
  padding: .5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border-color: $purple;
    transition: 0.5s ease-in-out;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .due-date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }

    .priority {
      font-size: 12px;
      font-weight: 500;
      border-radius: 15px;
      padding: 0.25rem 0.5rem;
      color: $white;
    }
  }

  img.assignee {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

// Set color for different priorities
.priority-urgent {
  background: $dark-red !important;
  border-color: $dark-red !important;
}

.priority-high {
  background: $orange !important;
  border-color: $orange !important;
}

.priority-medium {
  background: $yellow !important;
  border-color: $yellow !important;
}

.priority-low {
  background: $green !important;
  border-color: $green !important;
}

.priority-planning {
  background: $sky-blue !important;
  border-color: $sky-blue !important;
}

.priority-unset {
  background: $light-gray !important;
  border-color: $light-gray !important;
}

// The modal for setting the priority of the task
.priority-modal {
  position: absolute;
  margin: 0.5rem 0;

  .modal-content {
    box-shadow: 0 0 5px 0 $dark-gray;
  }

  .modal-header {
    border-bottom: none;

    h4 {
      margin: 0;
    }
  }

  .modal-body {
    padding-top: 0;

    .btn-group {
      gap: 1rem;

      label {
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .btn {
      background: $light-gray;
      border: none;
      color: $black;
      transition: 0.3s;

      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }

    .btn-check:checked+.btn {
      color: $white;
    }
  }
}

// Backdrop for sub modals of task item
.task-subModal-backdrop {
  opacity: 0 !important;
}

// The modal for setting the due date of the task
.dueDate-modal {
  position: absolute;
  margin: 0.5rem 0;

  .modal-content {
    box-shadow: 0 0 5px 0 $dark-gray;
  }

  .modal-header {
    border-bottom: none;

    h4 {
      margin: 0;
    }
  }

  .modal-body {
    padding-top: 0;

    form {
      margin-top: 0;
    }
  }
}

// The modal for the details of the task
.task-item-modal {
  width: 50%;
  max-width: none;
  margin-top: 5rem;
  margin-bottom: 3rem;

  h4 {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .header {
    display: block;
    position: relative;
    margin-top: 0;
    background: $white;

    .task-name {
      form {
        margin-top: 0;
        display: block;

        input {
          width: 100%;
        }
      }

      h3 {
        margin: 0;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .btn-group {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
      }
    }

    .sub-header {
      margin-top: 0.5rem;
      display: flex;

      span.list-name {
        font-size: 14px;
        font-weight: 600;
        color: $dark-gray;
        border: 1px solid $light-gray;
        border-radius: 15px;
        padding: 0.25rem 0.5rem;
        user-select: none;
      }

      span.list-name.hasPriority {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      div.priority {
        .task-priority {
          font-size: 14px;
          font-weight: 600;
          border: 1px solid transparent;
          border-radius: 15px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 0.25rem 0.5rem;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: fit-content;
          color: $white;
          user-select: none;
        }

        .task-priority.editable {
          cursor: pointer;
        }

        button.set-priority {
          color: $dark-gray;
          border: 1px solid $light-gray;
          padding: 0.25rem 0.5rem;
          border-radius: 15px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: unset;

          &:hover {
            background: $dark-gray;
            color: $white;
          }
        }
      }
    }

    // The closeModal, moveTask, deleteTask buttons
    .button-group {
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      right: -50px;
      top: 0;

      button {
        background: $white;

        &:hover {
          box-shadow: 0 0 5px 2px $light-gray;
        }
      }
    }

    button.delete-btn {
      color: $red;
    }
  }

  // Task-item-modal body
  .modal-body {
    .description {
      margin-bottom: 1rem;

      form {
        margin-top: 0;
        display: flex;
        flex-direction: column;
      }

      textarea {
        flex-grow: 1;
        height: 100px;
        margin-bottom: .5rem;
      }

      p {
        flex-grow: 1;
        font-size: 14px;
        white-space: pre-wrap;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        background: $light-gray;
      }

      p.editable {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: $dark-gray;
          color: $white;
        }
      }
    }

    .check-due-date {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
      font-size: 15px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      input[type="checkbox"]:disabled {
        cursor: not-allowed;
      }

      p {
        padding: 0.25rem;
        border-radius: 5px;
      }

      p.editable {
        cursor: pointer;

        &:hover {
          background: $light-gray;
        }
      }

      button.set-due-date {
        font-size: 14px;
        font-weight: 600;
        border: 1px solid $dark-gray;
        padding: 0.25rem 0.5rem;

        &:hover {
          background: $dark-gray;
          color: $white;
        }
      }

      p.no-due-date {
        color: $dark-gray;
        padding: 0;
      }
    }

    .member,
    .file,
    .upload-file {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 500;
    }

    .file,
    .upload-file {
      overflow: hidden;
    }

    .task-members,
    .attachments {

      .members-header,
      .attachments-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;

        h4 {
          margin: 0;
        }

        button {
          background: $light-gray;

          &:hover {
            background: $dark-gray;
            color: $white;
          }
        }
      }

      .member-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .task-members,
    .attachments {
      margin-bottom: 0;
    }

    .attachments {
      .dropdown {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 16px;
        padding: 10px;
        z-index: 1;
        width: fit-content;
        box-shadow: 0 0 5px 0 $dark-gray;

        button {
          font-size: var(--bs-body-font-size);
          font-weight: var(--bs-body-font-weight);
          width: 100%;

          div {
            width: 100%;
          }

          &:hover {
            background: $light-gray;
          }
        }
      }

      &>div.task-file {
        display: flex;
        flex-direction: row;

        // align-items: end;
        &>button {
          font-size: var(--bs-body-font-size);
          font-weight: var(--bs-body-font-weight);

          &:hover {
            text-decoration: underline;
          }
        }

        .remove-from-task {
          color: $red;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .modal-footer {
    background: $white;

    button.btn-view-more-comments {
      margin: 0.5rem 0;
      color: $dark-gray;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    .comments {
      width: 100%;

      .comment {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.25rem;
        font-size: 14px;

        a {
          &:hover {
            text-decoration: underline;
          }

          &:hover img {
            box-shadow: 0 0 5px 2px $light-gray;
          }
        }

        .comment-details {
          flex-grow: 1;
          border: 1px solid $light-gray;
          padding: 0.5rem;
          border-radius: 10px;
          margin: 0;
          background: #fff;

          .comment-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .comment-name {
              font-weight: 600;
            }

            .comment-time {
              font-size: 12px;
              color: $dark-gray;
              font-style: italic;
              margin-left: 0.5rem;
            }

            .comment-isEdited {
              font-size: 12px;
              color: $dark-gray;
              margin-left: 0.5rem;
            }

            .button-group {
              gap: 0.1rem;
            }
          }

          div.editing-comment {
            position: relative;

            textarea {
              width: 100%;
              height: 70px;
              margin-top: 0.5rem;
              padding-right: 2.5rem;
            }

            button.btn-edit-comment {
              position: absolute;
              right: 5px;
              top: 30px;
              // color: $purple;
            }
          }

          .comment-content {
            word-break: break-word;
            white-space: pre-wrap;
          }
        }
      }

      .add-comment {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;

        textarea {
          flex-grow: 1;
          height: 70px;
        }

        button {
          background: $purple;
          color: $white;

          &:hover {
            background: $light-purple;
          }
        }
      }
    }
  }
}

// The modal for setting the assignee of the task
.assign-members-modal {
  width: 400px;

  .modal-content {
    box-shadow: 0 0 5px 0 $dark-gray;
  }

  .modal-title {
    font-size: 18px;
  }

  .search-bar {
    position: relative;

    .search-icon {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      transition: color 0.3s;
    }

    input {
      width: 100%;
      border-radius: 10px;
      padding: 0.5rem 0.5rem 0.5rem 2rem;
    }

    &:focus-within {
      .search-icon {
        color: $purple;
      }
    }
  }

  .search-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li.no-member-found {
      font-size: 14px;
      font-weight: 500;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: 0.25rem 0.5rem;
    }

    .member {
      display: flex;
      gap: 1rem;
      align-items: center;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      .member-info {
        flex-grow: 1;

        p:nth-child(2) {
          color: rgba($color: $black, $alpha: 0.5);
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

// React-datepicker styles
.react-datepicker {
  padding: .5rem;
  background: $white !important;

  .react-datepicker__header {
    background: $white;
  }

  .react-datepicker__day,
  .react-datepicker__time-list-item {
    &:hover {
      background: $light-gray !important;
    }
  }

  .react-datepicker__day--today {
    color: $purple;

    &.react-datepicker__day--selected {
      color: $white;
    }
  }

  .react-datepicker__day--selected {
    background: $purple;

    &:hover {
      background: $purple;
    }
  }

  .react-datepicker__day--keyboard-selected {
    color: $white;
    background: $light-purple;

    &:hover {
      background: $light-purple;
    }
  }

  .react-datepicker__day--outside-month {
    color: $light-gray;
  }

  .react-datepicker__time-list {
    background: $white;
  }

  .react-datepicker__time-list-item--selected {
    background: $purple !important;
  }

  li.react-datepicker__time-list-item {
    height: unset !important;
  }


}