@import '../../variables.scss';

form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
  background-color: $white;
  border-radius: 10px;
  width: 80%;
  padding: .25rem .5rem;
  border: 2px solid transparent;
  transition: .3s;

  &:focus-within {
    border: 2px solid $purple;
  }

  input {
    width: 100%;
    padding: .5rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;

    &:focus {
      border: none;
    }
  }
}

.action-button {
  width: 80%;
  padding: 1rem;
  background-color: $purple;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin: 20px auto;

  &:hover {
    background-color: $light-purple;
  }
}