@import '../../../styles.scss';

header {
  .user-avatar {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  
    img:hover {
      box-shadow: 0 0 5px 3px $light-gray;
    }
  }
}

// Modal styles
body.userModal-open .modal-backdrop {
  opacity: 0;
}

.user-info-modal {
  width: 300px;
  position: absolute;
  right: 30px;
  top: 50px;
  
  .modal-content{
    box-shadow: 0 0 5px 0 $dark-gray;
  }

  .header {
    margin-top: 0;

    h2 {
      font-size: 22px;
    }
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    border-radius: 5px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    
    p {
      margin: 0 0 .25rem 0;
      font-size: 15px;

      span {
        font-weight: 700;
      }
    }

    button {
      margin-top: .5rem;
      align-self: center;
    }
  }

  .modal-footer {
    justify-content: center;
  }
}