.admin-logout {
    background-color: rgb(37, 42, 74);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

.logout-btn {
    color: white;
    margin-right: 15px;
    cursor: pointer;
}