.admin-users-container {

  h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 3vw;
    margin-left: 5%;
  }

  .user-list {
    list-style: none;
    padding: 0;
    margin: 5% 20%;
    background: rgb(45, 50, 90);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(45, 50, 90, 0.25) 0px 6px 12px -2px, rgba(186, 203, 250, 0.3) 0px 3px 7px -3px;
    padding-top: 25px;
    padding-bottom: 25px;

    .title {
      color: white;
      font-family: "Lato", "sans serif";
      margin-left: 5%;
      margin-bottom: 10px;
      font-weight: 300;
    }

    .user-item {
      margin-bottom: 20px;
      margin: 5px 10%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .user-more-info {
        font-family: "Nunito", sans-serif;
        font-size: 1vw;
        margin-left: 20px;
        font-weight: 250;
        color: white;


        .toggle-admin {
          appearance: none;
          background-color: rgba(26, 27, 32, 0.218);
          border: 1px solid #1A1A1A;
          border-radius: 15px;
          box-sizing: border-box;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          font-family: "Nunito", "sans serif";
          font-size: 1vw;
          font-weight: 350;
          line-height: normal;
          margin: 0;
          min-height: 20px;
          min-width: 0;
          outline: none;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: 30%;
          will-change: transform;
          margin-bottom: 10px;
        }

        .toggle-admin:disabled {
          pointer-events: none;
        }

        .toggle-admin:hover {
          color: #fff;
          background-color: #1A1A1A;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          transform: translateY(-2px);
        }

        .toggle-admin:active {
          box-shadow: none;
          transform: translateY(0);
        }
      }

      .user-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-buttons {
          display: flex;
          align-items: center;

          button {
            margin-right: 10px;
          }

          #delete-button {
            color: rgb(244, 76, 76);
          }

          #delete-button:hover {
            color: rgb(94, 0, 0);
          }

          #more-button {
            color: rgb(126, 136, 248);
          }

          #more-button:hover {
            color: rgb(7, 14, 90);
          }
        }

        .user-name,
        .action-buttons button {
          font-family: "Nunito", sans-serif;
          font-size: 1vw;
          color: white;
          margin-bottom: 10px;
        }

        .user-name {
          margin-right: 10px;
          font-size: 1.25vw;
          font-weight: 300;

          .adminStatus {
            color: rgb(163, 62, 62);
          }
        }
      }

      .user-description {
        margin-bottom: 10px;
      }
    }
  }
}