@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Reddit+Mono:wght@200..900&display=swap');
.admin-menu-container {
  background-color: rgb(32,35,66);

  .profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: center;
  }

  .profile-picture {
    width: 40%;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .greeting {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 1.5vw;
    font-family: "Nunito", sans-serif;
  }

  .admin-menu {
    list-style: none;
    padding: 0;

    li {
      color: var(--cultured);
      margin-left: 10%;
      margin-bottom: 5px;

      .list {
        margin-left: 10px;
        text-decoration: none;
        color: inherit;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 1.25vw;
      }
    }

    li:hover {
      color: rgb(208, 208, 208);
      cursor: pointer;
    }
  }
}