@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Reddit+Mono:wght@200..900&display=swap');

.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: white;
    font-size: 4vw;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  p {
    color: white;
      font-size: 1.25vw;
      font-family: "Lato", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
}