.admin-users-container {
  
  h2 {
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 3vw;
    margin-left: 5%;
  }

  .user-list {
    list-style: none;
    padding: 0;
    margin: 5% 20%;
    background: radial-gradient(circle at center, rgb(160, 185, 252) 0%, rgb(161, 184, 245) 50%);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(186, 203, 250, 0.25) 0px 6px 12px -2px, rgba(186, 203, 250, 0.3) 0px 3px 7px -3px;
    padding-top: 25px;
    padding-bottom: 25px;

    .user-item {
      margin-bottom: 20px;
      margin: 5px 15%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .user-more-info {
        font-family: "Nunito", sans-serif;
        font-size: 1vw;
        margin-left: 20px;
        font-weight: 250;
      }

      .user-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-buttons {
          display: flex;
          align-items: center;

          button {
            margin-right: 10px;
          }

          #delete-button {
            color: rgb(150, 28, 28);
          }

          #delete-button:hover {
            color: rgb(94, 0, 0);
          }

          #more-button {
            color: rgb(31, 42, 165);
          }

          #more-button:hover {
            color: rgb(7, 14, 90);
          }
        }

        .user-name,
        .action-buttons button {
          font-family: "Nunito", sans-serif;
          font-size: 1vw;
        }

        .user-name {
          margin-right: 10px;
          font-size: 1.25vw;
          font-weight: 300;
        }
      }

      .user-description {
        margin-top: 10px;
      }
    }
  }
}