@import '../../../styles.scss';

div.chat-item {

  .chat-item-header {
    padding: .25rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    border-bottom: 1px solid $light-gray;
    background: $white;

    h3 {
      flex-grow: 1;
      margin: 0;
    }

    button.btn-icon.active {
      background: $dark-gray;
      color: $white;
    }
  }

  .chat-view {
    background: $white;

    .chat-body {
      height: 400px;
      overflow-y: auto;
      padding: .5rem;
      margin: 0 0 .5rem .5rem;

      .message-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .message {
          display: flex;
          align-items: center;
          gap: .5rem;
          margin-bottom: .5rem;

          p {
            margin: 0;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .message-content {
            width: fit-content;
            height: fit-content;
            padding: .25rem .75rem;
            font-size: 14px;
          }
        }

        #you {
          justify-content: flex-end;

          .message-content {
            color: $white;
            background: rgba($color: $light-purple, $alpha: 0.9);
            border-radius: 15px 15px 0 15px;
          }
        }

        #other {
          justify-content: flex-start;

          .message-content {
            background: rgba($color: $light-gray, $alpha: 0.5);
            border-radius: 15px 15px 15px 0;
          }
        }
      }
    }

    .chat-footer {
      display: flex;
      padding: .5rem 1rem;

      input {
        flex-grow: 1;
      }
    }
  }

  .settings-view {
    height: 465px;
    overflow-y: auto;
    background: $white;
    padding: .5rem;

    div.button-group {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
    }

    div.members {


      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      ul.member-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        li.member-list-item {
          display: flex;
          align-items: center;
          gap: .5rem;
          background: $extra-white;
          padding: .5rem;
          border-radius: 10px;

          .member-info {
            flex-grow: 1;
          }

          a {
            width: fit-content;

            p {
              margin: 0;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}