@import '../../variables.scss';

.login-signup-page {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .content-left,
    .content {
        width: 40%;
    }

    .content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .content {
        padding: 15px;
    }
}

h1.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .25rem;
    margin: 0;
    letter-spacing: -0.5px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
    margin-top: 30px;
}

.form-name {
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 20%;
    height: 5px;
    background: $black;
    border-radius: 10px;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.or {
    color: $dark-gray;
    text-align: center;
}

.login-btn,
.create-btn {
    color: $purple;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;

    &:hover {
        border-bottom: 1px solid $dark-gray;
        box-shadow: none;
    }
}