@import '../../variables.scss';

.homepage {
  margin: 2rem;
  padding: 2rem;
  min-height: 75vh;

  h1 {
    margin-bottom: 3rem;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .project,
    .btn-add-project {
      margin-bottom: 1rem;
      border: 1px solid $light-gray;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px 3px $light-gray;
      }
    }

    .project {
      font-size: 1.2rem;
      font-weight: 500;

      a {
        display: block;
        padding: 1rem;
      }
    }

    .btn-add-project {
      font-weight: 500;
      font-size: 20px;
      color: $blue;
      border-color: $blue;
      padding: 1rem;
    }
  }
}