@import '../../variables.scss';

.homepage {
  margin: 2rem;
  padding: 2rem;

  h1 {
    margin-bottom: 3rem;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .project,
    .btn-add-project {
      margin-bottom: 1rem;
      padding: 1rem;
      border: 1px solid $light-gray;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px 3px $light-gray;
      }

      p {
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    .btn-add-project {
      font-weight: 500;
      font-size: 20px;
      color: $blue;
      border-color: $blue;
    }
  }
}

.create-project-modal {
  min-width: 50%;

  .modal-content {
    padding: 3rem;

    form {
      margin: 3rem 0;

      .input-field {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: 600;
        }

        input,
        textarea {
          letter-spacing: .3px;
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .btn-create-project {
        background: $purple;
        color: $white;
        padding: .5rem 1rem;

        &:hover {
          background: $light-purple;
        }
      }

      .btn-cancel {
        border: 1px solid transparent;
        border-radius: 0;

        &:hover {
          border-bottom: 1px solid $dark-gray;
          box-shadow: none;
        }
      }
    }
  }
}