@import '../../variables.scss';

.homepage {
  margin: 2rem;
  padding: 2rem;
  min-height: 75vh;

  h1 {
    margin-bottom: 3rem;
    display: inline-block;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .project,
    .btn-add-project {
      margin-bottom: 1rem;
      border: 1px solid $light-gray;
      border-radius: 10px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px 3px $light-gray;
      }
    }

    .project {
      font-size: 1.2rem;
      font-weight: 500;

      a {
        display: block;
        padding: 1rem;
      }
    }

    .btn-add-project {
      font-weight: 500;
      font-size: 20px;
      color: $blue;
      border-color: $blue;
      padding: 1rem;
    }
  }

    .go-to-admin-button {
      background-color: transparent;
      color: #000000;
      text-decoration: none;
      font-size: 1em;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 10px 30px;
      transition: 0.5s;
      font-family: "Nunito", sans-serif;
      border: 1.5px solid #727272;
      border-radius: 5px;
      position: fixed;
      bottom: 20px;
      left: 20px;
    }
  
    .go-to-admin-button:hover {
      color: rgb(37, 42, 74);
      background-color: #d0d0d0;
    }
}