// Color variables

$red: #CE4F51;
$blue: #3355ed;
$purple: #8C54FB;
$green: #6FD08C;
$yellow: #F7CB15;
$white: #F5F5F7;
$light-gray: #D1D1D1;
$dark-gray: #4D4A4F;
$black: #0C0D0E;

// Font variable
$font: 'Archivo', Helvetica, sans-serif;

// Color styles
$background: $white;
$text: $black;
$gradient: radial-gradient(ellipse farthest-corner at center center, #8C54FB 0%, #CE4F51 100%);
