// Color variables

$red: #CE4F51;
$blue: #014dff;
$purple: #8C54FB;
$green: #48c96f;
$yellow: #F7CB15;
$white: #F5F5F7;
$light-gray: #D1D1D1;
$dark-gray: #4D4A4F;
$black: #0C0D0E;
$light-purple: rgba($color: $purple, $alpha: 0.9);

// Font variable
$font: 'Archivo', Helvetica, sans-serif;

// Color styles
$background: $white;
$text: $black;
// $gradient: radial-gradient(ellipse farthest-corner at center center, $purple 0%, $red 100%);
$gradient: linear-gradient(to right, #CE4F51 0%, #8C54FB 100%);
