@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
  color: $text;
}

// main {
// margin: 1rem;
// padding: 1rem;
// border: 1px solid;
// min-height: 100vh;
// }

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 600;
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Buttons styles
button {
  padding: .5rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  border-radius: 10px;
  transition: all .3s;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

button.btn-icon {
  padding: .25rem .5rem;
  border-radius: 5px;

  &:hover {
    background: $light-gray;
  }
}

button.btn-text {
  padding: .5rem 1rem;
  background: $purple;
  color: $white;

  &:hover {
    background: $light-purple;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-text-secondary {
  padding: .5rem 1rem;
  background: $light-gray;
  color: $dark-gray;

  &:hover {
    background: $purple;
    color: $white;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-iconTxt {
  background: $purple;
  color: $white;

  &:hover {
    background: $light-purple;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-cancel {
  border-bottom: 2px solid transparent;
  border-radius: 0;

  &:hover {
    border-bottom: 2px solid $dark-gray;
  }
}

button.btn-danger {
  background: $red;
  color: $white;

  &:hover {
    background: $light-red;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-save-changes:disabled {
  background: $light-gray;
  color: $dark-gray;

  &:hover {
    box-shadow: none;
  }
}

// Form styles
input,
textarea,
select {
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid $light-gray;
  transition: border .3s;
  font-size: 14px;

  &:focus {
    border: 2px solid $purple;
  }
}

select {
  padding: .25rem 1rem;
}

textarea {
  height: 200px;
}

// Error msg styles
div.error-msg {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: $white;
  font-size: 15px;
  border-radius: 5px;
  background: $red;
  margin: .5rem 0 1rem 0;
  font-weight: 700;
  width: fit-content;
  padding: .25rem .5rem;
}

// User avatar styles
img[alt="User Avatar"] {
  box-shadow: 0 0 5px 1px $light-gray;
}

// Toastify styles
.Toastify__toast {
  color: $dark-gray !important;

  .Toastify__toast-icon {
    svg {
      fill: $black;
    }
  }

  button {
    opacity: 0.5;
    color: $black;

    &:hover {
      box-shadow: none;
    }
  }
}

.Toastify__toast--error {
  .Toastify__toast-icon {
    svg {
      fill: $red;
    }
  }
}

.Toastify__toast--success {
  .Toastify__toast-icon {
    svg {
      fill: $green;
    }
  }
}

// File upload modal styles
.file-upload-modal {
  .modal-body {
    div {
      border: 2px dashed $light-gray;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
    }
  }
}

// Profile link
a.profile-link {
  display: flex;
  align-items: center;
  gap: .5rem;

  &:hover {
    text-decoration: underline;
  }
}

// Search member styles
section.search-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  ul.members-list li.member {
    &:hover {
      background: $white;
    }
  }

  input {
    width: 100%;
  }

  form.search-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .search-bar {
      flex-grow: 1;
      position: relative;

      .search-icon {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        transition: color .3s;
      }

      input {
        width: 100%;
        border-radius: 10px;
        padding: .5rem .5rem .5rem 2rem;
      }

      &:focus-within {
        .search-icon {
          color: $purple;
        }
      }
    }
  }

  .members-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;

    li.no-member-found {
      font-size: 14px;
      font-weight: 500;
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: .25rem .5rem;
    }

    .member {
      display: flex;
      gap: 1rem;
      align-items: center;
      border: 1px solid $light-gray;
      border-radius: 10px;
      padding: .25rem .5rem;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      .member-info {
        flex-grow: 1;

        p:nth-child(2) {
          color: rgba($color: $black, $alpha: 0.5)
        }

        a {
          width: fit-content;
          display: flex;
          flex-direction: column;


          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}