@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';

.gradient-text {
  background: $purple;
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
  color: $text;
}

main {
  // margin: 1rem;
  // padding: 1rem;
  // border: 1px solid;
  min-height: 1000px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}