@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables.scss';

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $background;
  color: $text;
}

main {
  // margin: 1rem;
  // padding: 1rem;
  // border: 1px solid;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3, h4 {
  font-weight: 600;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Buttons styles
button {
  padding: .5rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  border-radius: 10px;
  transition: all .3s;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

button.btn-icon {
  padding: .25rem .5rem;
  border-radius: 5px;

  &:hover {
    background: $light-gray;
  }
}

button.btn-text {
  padding: .5rem 1rem;
  background: $purple;
  color: $white;

  &:hover {
    background: $light-purple;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-iconTxt {
  background: $purple;
  color: $white;

  &:hover {
    background: $light-purple;
    box-shadow: 0 0 5px 2px $light-gray;
  }
}

button.btn-cancel {
  border-bottom: 2px solid transparent;
  border-radius: 0;

  &:hover {
    border-bottom: 2px solid $dark-gray;
  }
}

// Form styles
input, textarea {
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid $light-gray;
  transition: border .3s;

  &:focus {
    border: 2px solid $purple;
  }
}

textarea {
  height: 200px;
}

.error-msg {
  color: $red;
  font-size: 16px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
}

.toast-success {
  background-color: $green !important;
  color: $white !important;

  .Toastify__toast-icon {
    svg {
      fill: $white;
    }
  }

  button {
    opacity: 0.7;
    color: $white;

    &:hover {
      box-shadow: none;
    }
  }

  .Toastify__progress-bar--success {
    background: $white;
  }
}