@import '../../styles.scss';

.file-upload-modal {
    .modal-body {
      div {
        border: 2px dashed $light-gray;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
      }
    }
  }