@import '../../variables.scss';

.create-project-modal {
  min-width: 50%;

  .modal-content {
    padding: 3rem;

    form {
      margin: 3rem 0;

      .input-field {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: 600;
        }

        input,
        textarea {
          letter-spacing: .3px;
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .btn-create-project {
        background: $purple;
        color: $white;
        padding: .5rem 1rem;

        &:hover {
          background: $light-purple;
        }
      }

      .btn-cancel {
        border: 1px solid transparent;
        border-radius: 0;

        &:hover {
          border-bottom: 1px solid $dark-gray;
          box-shadow: none;
        }
      }
    }
  }
}