@import "../../../styles.scss";

div.chats {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 400px;
  height: 600px;
  padding: 1rem;
  background: $extra-white;
  overflow-y: auto;
  box-shadow: 0 0 10px 2px $light-gray;
  border-radius: 10px;

  div.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    h2 {
      font-size: 23px;
      flex-grow: 1;
      margin: 0;
    }
  }

  .button-group {
    gap: .5rem;
  }

  ul.chat-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    li.chat-item {
      padding: .5rem;
      border-radius: 10px;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 1rem;
      background: $white;
      min-height: 50px;

      &:hover {
        background: rgba($color: $light-gray, $alpha: 0.5);
      }

      img[alt="User Avatar"] {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      div.picture {
        width: 10%;
        position: relative;

        .group {
          img {
            width: 20px;
            height: 20px;
          }

          img:first-child {
            position: absolute;
            top: -20px;
            left: 10px;
          }

          img:last-child {
            position: absolute;
          }
        }
      }

      h3 {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        font-size: 14px;
      }

      p {
        margin: 0;
      }
    }
  }
}